.headerImage {
    background-color: lightslategrey;
}

.headerImage img {
    height: 70px;
    width: 115px;
}

.headerElements {
    grid-area: h;
    display: inline-block;
    max-width: 100%;
    height: auto;
    overflow: hidden;

}
.loginBlock {
  float: right;
}
.loginBlock a {
    color: black;
}