.headerImage {

    background-color: rgba(211, 255, 253, 0.815);
  }
  
  .headerImage img {
    height: 70px;
    width: 115px;
  }
  .headerElements {
    grid-area: h;
    display: inline-block;
    max-width: 100%;
    height: auto;
    overflow: hidden;

  }
