.headerImage {
    grid-area: h;
    background-color: rgba(211, 255, 253, 0.815);
  }
  
  .headerImage img {
    height: 60px;
    width: 50px;
  }
  /* .headerElements {
    display: inline-block;
    max-width: 100%;
    height: auto;
    overflow: hidden;

  }
   */